# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS / VS Code
.vs/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# SQLite (keep DB if you want, otherwise ignore)
*.db
*.db-shm
*.db-wal

# Publish
publish/